.page-header {
    background-color: #7B0037;
    margin-top: 0;
    padding: 20px 20px 20px 30px;
}

    .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
        color: #FE89BD;
        font-size: 36pt;
        text-decoration: none;
    }

.content {
    margin-left: 80px;
}

body {
    background-color: #FAE8F0;
    color: #FE89BD;
    font-family: 'Kaisei Tokumin', serif, ursive;
    font-size: 20pt;
}


h1, h2, h3, h4 {
    font-family: 'Kaisei Tokumin', serif, ursive;
}

h1 {
    text-align: center
}

.date {
    color: #FE89BD;
    font-family: 'Kaisei Tokumin', serif, ursive;
    font-size: 10pt;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #FAE8F0;
    float: right;
    font-size: 26pt;
    margin-right: 50px;
}

.post {
    margin-bottom: 70px;
}

    .post h2 a, .post h2 a:visited {
        color: #F10A71;
    }